In [19]:
import pandas as pd
import numpy as np

file_path = "res/vgsales.csv"
df = pd.read_csv(file_path)

df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [20]:
df = df.dropna(subset = ['Year'])
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [32]:
# RELLENANDO PUBLISHER DESCONOCIDO POR EL VALOR DE "UNKNOWN"
df.fillna({'Publisher': 'Unknown'}, inplace = True)

# CAMBIANDO EL TIPO FLOAT DE YEAR A INT
df['Year'] = df['Year'].astype(int)

# SE CALCULA LAS FILAS MAYOR A LA MEDIANA TOTAL DE Global_Sales PARA VER SI x JUEGO ES UN EXITO O NO
df['Market_Trend'] = (df['Global_Sales'] > df['Global_Sales'].median())
df.head(10000)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Market_Trend
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,True
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,True
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,True
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,True
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10155,10157,Contra Advance: The Alien Wars EX,GBA,2002,Shooter,Konami Digital Entertainment,0.08,0.03,0.00,0.00,0.11,False
10156,10158,Jikkyou Powerful Pro Baseball 2016,PS3,2016,Sports,Konami Digital Entertainment,0.00,0.00,0.11,0.00,0.11,False
10157,10159,The History Channel: Battle for the Pacific,Wii,2007,Shooter,Activision,0.10,0.00,0.00,0.01,0.11,False
10158,10160,18 Wheels of Steel: Extreme Trucker 2,PC,2011,Racing,Rondomedia,0.08,0.02,0.00,0.01,0.11,False
10159,10161,Happy Feet Two,3DS,2011,Action,Warner Bros. Interactive Entertainment,0.08,0.02,0.00,0.01,0.11,False